/* Carousel.module.css */
.slideInner {
  /* transition: transform 0.5s ease; */
}

.activeImage {
  transform: scale(1.2);
  z-index: 10;
  transform-origin: top !important;
}

.activeText {
  /* transform: translateX(-10%) !important ; */
  transform: scale(1.2);
  z-index: 10;
  transform-origin: bottom !important;
}

.inactiveText {
  /* transform: translateX(0%) !important ; */
  /* transform-origin: right !important; */
}

.nextSlide {
  transform: translateX(10%) !important ;
  transform-origin: top !important;
}

.prevSlide {
  transform: translateX(-10%) !important ;
  transform-origin: top !important;
}
